.editor {
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #555;
  left:10px;
  right: 10px;

  padding:10px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

